body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin-top: 5px;
  margin-left: 2px;
}

.items {
  display: flex;
  flex-direction: column;
}

.table-sm {
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
  .Tbl {
    flex-direction: column;
  }
}
